body{
    margin:0;
    background:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
}

.dashboard{

    width:90%;
    margin:auto;
    padding:30px;

}

.title{

    text-align:center;
    margin-bottom:30px;

}

.section{

    background:white;

    padding:20px;

    margin-bottom:25px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.1);

}